.personAdd {
  background-color: rgb(5, 204, 154);
  padding: 11px;
  margin-bottom: 12px
}

.personUpdate {
  background-color: rgb(5, 174, 204);
  padding: 11px;
  margin-bottom: 12px
}

.errorDeleted {
  background-color: rgb(231, 152, 49);
  padding: 11px;
  margin-bottom: 12px

}

.personDelete {
  background-color: rgb(204, 5, 15);
  padding: 11px;
  margin-bottom: 12px
}

